# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for Data Science: Python, R, SQL
- Commonly used libraries: Pandas, NumPy, SciPy
- Popular Data Science Tools: Jupyter Notebooks, RStudio

Some of the popular languages that Data Scientists use are:Python, R, SQL, JAVA, C++, Scala, Julia

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: Pandas, NumPy, SciPy, Keras, PyTorch
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python: 
+ - *

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
x=200;
y=200/60;
print(x, "minutes =",y, "hours");

200 minutes = 3.3333333333333335 hours

## Author
Sha M.